@keyframes animation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
@keyframes animation1{
    0%   {background-color:red; left:300px; top:300px;}
    25%  {background-color:yellow; left:500px; top:300px;}
    50%  {background-color:blue; left:500px; top:500px;}
    75%  {background-color:green; left:300px; top:500px;}
    100% {background-color:red; left:300px; top:300px;}
}
@keyframes animation2{
    0%   {border-bottom-color:red; left:200px; top:200px;}
    25%  {border-bottom-color:yellow; left:400px; top:200px;}
    50%  {border-bottom-color:blue; left:400px; top:400px;}
    75%  {border-bottom-color:green; left:200px; top:400px;}
    100% {border-bottom-color:red; left:200px; top:200px;}
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: animation;
    animation-duration: 12s;
}

.circle{
    width: 100px;
    height:100px;
    left:300px;
    top:300px;
    border-radius: 50px;
    background-color: gray;
    position:relative;
    animation-duration: 4s;
    animation-name:animation1;
}

.traingle {
    width:0;
    height:0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
    position:absolute;
    animation-duration:8s;
    animation-name:animation2;
}